<div id="navbar" >
  <div id="inner_navbar">
    <%= link_to root_url do %>
      <%= image_tag 'camera.svg'%>
    <% end %>
    <% if user_signed_in? %>
      <h1> &#128075; <%= current_user.username %></h1>
    <% else %>
      <h1> &#128075; sing up now</h1>
    <% end %>
    <% if user_signed_in? %>
      <%= link_to 'logout', destroy_user_session_path , method: :delete%>
    <% else %>
      <%= link_to 'login/signup', new_user_session_path %>
    <% end %>
  </div>
</div>
