<div class="container center_middle">
  <div class="wrapper">

    <div class="left_wrapper">
      <div class="top_left">

          <div class="new_movie_wrapper hidden">
            <div id="result">
            </div>

            <div class="movie_details">
              <div id='movie_details'>
              </div>
              <%= simple_form_for(@movie) do |f| %>
                <%= f.input :name, id: 'movie_name' %>
                <%= f.submit class: 'btn', value: 'Add Movie' %>
              <% end %>
            </div>

          </div>
      </div>
      <table>
        <thead>
          <tr>
            <th>name</th>
            <th>se</th>
            <th>le</th>
            <th>size</th>
            <th>found on</th>
          </tr>
        </thead>
        <tbody>
          <% @movies.each do |movie| %>
            <tr>
              <td class='left'><%= movie.name %></td>
              <td></td>
              <td></td>
              <td></td>
              <td><%= Time.now.utc %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="right_wrapper">
      <div id="movie_search_wrapper">
        <form action="" id='movie_search'>
          <input type="text" placeholder='search movies' id='search_input'>
        </form>
        <ul id="results" class="list-inline"></ul>

      </div>
    </div>

  </div>
</div>
