<!DOCTYPE html>
<html>
  <head>
    <title>Looper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/nimbus-sans-l" type="text/css"/>
  </head>

  <body class='movie_background'>
    <div class="container">
        <%= render 'shared/search' unless current_page?(new_user_session_path) || current_page?(new_user_registration_path) %>
        <%= render 'shared/sidebar' unless current_page?(new_user_session_path) || current_page?(new_user_registration_path) %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
    </div>
  </body>
</html>
